
.header {
  background-color: #eb1b24;
  color: white;
  height: 4rem;
  padding: auto;
  .icon {
    display: flex;
    justify-content: center;
    width: auto;
    color: #ffffff;
    cursor: pointer;
  }
}


