<ngx-spinner bdColor = "rgba(235,27,36,0.76)" size = "large" color = "#ffffff"  [fullScreen] = "true"><p style="color: #ffffff" > Cargando... </p></ngx-spinner>
<div class="container-fluit">
  <div class="header d-flex  justify-content-between  justify-content-md-around align-items-center p-2">
    <div class="icon " fz-2>
      <i class="fa fa-align-justify d-block d-sm-block d-md-none"></i>
    </div>
    <span class="pt-2" f-title-3>MARVEL</span>
    <div class="icon" fz-2>
      <i class="fa fa-sign-out"></i>
    </div>
  </div>
</div>
